#nav_div{
	padding-left: 20px;
}

#create{
	margin-left: 45%;
}

#create1{
	margin-left: 40%;
}

#icon-signin{
	font-size: 48px;
}

#entry{
	font-size: 20px;
	padding-left: 10px;
}

#register{
	padding-left: 42%;
}

#chips{
	text-align: center;
}

.cons{
	display: block;
    margin: 0 auto;
}

#modal1{
	color: black;
}

#login_button{
	float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#login_button2{
    margin-left: 40%;
}

.error{
	width: 300px;
	height: 50px;
	margin-left: 40%;
}

#drop{
	float: right;
	margin: 10px 20px; 
}

#dropdown1{
	width = 80px;
}