<!DOCTYPE html>
<html>
<head>
	<title>New Month</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}" 
	media="screen,projection"/>
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<nav>
    <div class="nav-wrapper">
      <a href="{{url_for('wallet')}}" class="brand-logo" id="nav_div">My Wallet<i class="material-icons">shopping_cart</i></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <a class='dropdown-button btn hide-on-small-only' href='#' id="drop" data-activates='dropdown1' data-constrainwidth="false" > {{ current_user.username }}</a>

      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content' style="width: 300px; top: 20px; right: 0px;" data-item-alignment="right" data-constrain-width="true" data-below-origin="true">
        <li><a href="#" class="center-align">{{current_user.email}}</a></li>
        <li class="divider"></li>
         <li><a href="{{ url_for('updateemail')}}" class="center-align">Update Email</a></li>
          <li class="divider"></li>
          <li><a href="{{ url_for('updatepass')}}" class="center-align">Update Password</a></li>
          <li class="divider"></li>
        <li><a href="{{ url_for('logout')}}" class="center-align">Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="center-align">
    <a class='dropdown-button btn hide-on-med-and-up' href='#' id="drop" data-activates='dropdown1' data-constrainwidth="false" > {{ current_user.username }}</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content' style="width: 300px; top: 20px; right: 0px;" data-item-alignment="right" data-constrain-width="true" data-below-origin="true">
          <li><a href="#" class="center-align">{{current_user.email}}</a></li>
          <li class="divider"></li>
           <li><a href="{{ url_for('updateemail')}}" class="center-align">Update Email</a></li>
          <li class="divider"></li>
          <li><a href="{{ url_for('updatepass')}}" class="center-align">Update Password</a></li>
          <li class="divider"></li>
          <li><a href="{{ url_for('logout')}}" class="center-align">Logout</a></li>
        </ul>
    </div>

<h2 class="center-align"> Add new Month to your wallet menu here </h2>

<div class="row">
    <form class="col s12" action="{{url_for('monthNew')}}" method = 'POST'>
    	
      <div class="row">
        <div class="input-field col s6">
        <i class="material-icons prefix">date_range</i>
        <select name = "name" required>
          <option value="January" selected>January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="March">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
        <label>Month</label>
      </div>
        <div class="input-field col s6">
        <i class="material-icons prefix">date_range</i>
        <select name = "year" required>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017" selected>2017</option>
        </select>
        <label>Year</label>
      </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_balance_wallet</i>
          <input id="icon_telephone" type="number" class="validate" name="balance" required>
          <label for="icon_telephone">Opening balance</label>
        </div>
       	<button class="btn waves-effect waves-light" type="submit" name="submit" id="create">Submit
    		<i class="material-icons right">send</i>
  		</button>
      </div>
      </div>
    </form>
  </div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>
</html>