<!DOCTYPE html>
<html>
<head>
  <title> My Wallet </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}" 
  media="screen,projection"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

 <nav>
    <div class="nav-wrapper">
      <a href="{{url_for('wallet')}}" class="brand-logo" id="nav_div">My Wallet<i class="material-icons">shopping_cart</i></a>
      <!--a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a-->
      <!-- Dropdown Trigger -->
      <a class='dropdown-button btn hide-on-small-only' href='#' id="drop" data-activates='dropdown1' data-constrainwidth="false" > {{ current_user.username }}</a>

      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content' style="width: 300px; top: 20px; right: 0px;" data-item-alignment="right" data-constrain-width="true" data-below-origin="true">
        <li><a href="#" class="center-align">{{current_user.email}}</a></li>
        <li class="divider"></li>
        <li><a href="{{ url_for('updateemail')}}" class="center-align">Update Email</a></li>
          <li class="divider"></li>
          <li><a href="{{ url_for('updatepass')}}" class="center-align">Update Password</a></li>
          <li class="divider"></li>
        <li><a href="{{ url_for('logout')}}" class="center-align">Logout</a></li>
      </ul>
      <!--ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('monthNew')}}"><i class="material-icons right">bookmark</i>New Month Here</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{{url_for('monthNew')}}"><i class="material-icons right">bookmark</i>New Month Here</a></li>
      </ul-->
    </div>
  </nav>

  <div class="center-align">
    <a class='dropdown-button btn hide-on-med-and-up' href='#' id="drop" data-activates='dropdown1' data-constrainwidth="false" > {{ current_user.username }}</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content' style="width: 300px; top: 20px; right: 0px;" data-item-alignment="right" data-constrain-width="true" data-below-origin="true">
          <li><a href="#" class="center-align">{{current_user.email}}</a></li>
          <li class="divider"></li>
           <li><a href="{{ url_for('updateemail')}}" class="center-align">Update Email</a></li>
          <li class="divider"></li>
          <li><a href="{{ url_for('updatepass')}}" class="center-align">Update Password</a></li>
          <li class="divider"></li>
          <li><a href="{{ url_for('logout')}}" class="center-align">Logout</a></li>
        </ul>
    </div>
      
       <h1 class="center-align"> You are not authorized to access this page </h1>

       <a href="{{url_for('home')}}" class ="center-align"><h4> Go Home </h4></a>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
<script type="text/javascript"> 
            $(document).ready( function() {
              $('#error').delay(5000).fadeOut();
            });
          </script>


</body>
</html>